.card-container {
  background: linear-gradient(45deg, #414141, rgb(0, 0, 0));
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  height: 100px;
  box-shadow: 0px 2px 3px 2px #cdefff;
}

.card-title {
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0 0 0.4rem 0;
}

.card-body {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.child-body {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.2rem;
  color: white;
}
