.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}

.grid-item {
  width: 100%;
}

.footer-note {
  width: -webkit-fill-available;
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  padding: 0 2rem;
  justify-content: space-between;
}
